/*******************************************************************************
 * Footer styles
 ******************************************************************************/

footer.fixed-bottom {
  background-color: #000000 !important;
  color: #ffffff;
  font-size: 0.75rem;

  .container {
    color: #ffffff;
    padding-top: 9px;
    padding-bottom: 8px;
    text-align: center;
  }

  a {
    color: #ffffff;

    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}

footer.sticky-bottom {
  border-top: 1px solid #000000;
  background-color: #000000 !important;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 0.9rem;

  .container {
    background-color: transparent;
    color: #ffffff;
    text-align: center;
  }

  a {
    color: #ffffff;

    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}
